# Created by .ignore support plugin (hsz.mobi)
*.iml
*.class
*.jar
.classpath
.gradletasknamecache
.DS_Store

.idea/
target/
classes/
.settings/
.project/
.gradle/
*build/
out
service_item/src/test/
service_trade/src/test/
service_user/src/test/
service_base/src/test/
